.file-field .btn, .file-field .btn-large {
    position: absolute;
    top: 0px;
}

.label-attachment {
    line-height: 5rem;
}

.signup-screen .btn {
    margin-top: 50px;
}

.tabs {
    margin-bottom: 30px;
}