header {
    background: #194689;
    /*@include clearfix();*/
    @include size(100%, 45px);
    padding: 0rem 0.625rem;
    color: #fff;
    position: fixed;
    z-index: 2;
}

header h6 {
    margin-top: 1rem;
}

ul.header-top-actions {
    margin-top: 0.5625rem;
}

.header-top-actions li {
    float: left;
    padding: 0rem 0.3125rem;
}

.header-top-actions li svg {
    @include svg();
}

.header-top-actions input[type="text"].GlobalSearch {
    position: relative;
    background: #153a71;
    border: none;
    width: 94%;
    @include border-radius(20px);
    padding: 0.3125rem;
    height: auto;
}