@{
    ViewBag.Title = "First Aid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="slider fullscreen">
    <div class="features-inner">
        <div class="row feature-tab" style="margin-left:247px;">
            <div class="col s12 m4">
                <div class="card">
                    <a href="/home/firstaid">
                        <div class="card-content card-selected">
                            <span class="card-title activator white-text"><i class="fa fa-medkit"></i> First AID</span>

                        </div>
                    </a>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card">
                    <a href="/home/dashboard">
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4"><i class="fa fa-tachometer"></i> Emergency Help</span>

                        </div>
                    </a>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card">
                    <a href="/home/healthhistory">
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4"><i class="fa fa-user-md"></i> Health History</span>

                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="main-container main-firstaid">
            <div class="row">
                <div class="col s12 m3">
                    <ul id="nav-mobile" class="tabs side-nav fixed">
                        <li class="logo">
                            <a href="/home/default">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 250 89.9" style="enable-background:new 0 0 250 89.9;" xml:space="preserve">
                                <style type="text/css">
                                    .st0 {
                                        fill: #8CC63F;
                                    }

                                    .st1 {
                                        fill: #EA4224;
                                    }

                                    .st2 {
                                        font-family: 'DilleniaUPC';
                                    }

                                    .st3 {
                                        font-size: 29.6383px;
                                    }

                                    .st4 {
                                        fill: #8CC640;
                                    }

                                    .st5 {
                                        font-family: 'DilleniaUPCBold';
                                    }
                                    </style>
                                <path class="st0" d="M41.3,36c0,0,10.1-10.6,18.3,2.8c2.8,4.7,4.5,10.3-3.5,21.5l-8.2,8.9l0,0l-6.6-6.6c0,0,7.1-12.3,8-14.5
                                C50.7,44.8,53.1,33.1,41.3,36z" />
                                <path class="st1" d="M17.2,5.9c0,0-9,13.7,3.1,38.4c0,0,6.7,16,29.4,32.4c0,0,6.2,3.2,0-6c0,0-14.1-12.5-12.3-20.7
                                c0,0-0.6-12.1,17.8-28.5c0,0,4.5-4.8-1.8-0.8c0,0-10.5,9.8-21.4,9.8C31.9,30.6,20.5,31.1,17.2,5.9z" />
                                <circle class="st0" cx="32.2" cy="19.8" r="7.8" />
                                <path class="st0" d="M29.6,33.6C28.9,32.4,10.3,28,7.6,44c-0.7,4.1-2,9,12.2,25.8c0,0,12.7,13.1,15,14.5l10.3-11.1
                                c0,0-14.9-14.9-18.8-20.6C23.5,48.6,19.3,38.5,29.6,33.6z" />
                                <text transform="matrix(1 0 0 1 69.2456 56.7384)"><tspan x="0" y="0" class="st0 st2 st3">Healthy</tspan><tspan x="63.1" y="0" class="st2 st3"> </tspan><tspan x="69.7" y="0" class="st1 st4 st3">INDIA</tspan></text>
                               </svg>
                            </a>
                        </li>
                        <li class="tab"><a href="#test1">Animal/Dog Bites</a></li>
                        <li class="tab"><a href="#test2">Burns (Chemical/Fire)</a></li>
                        <li class="tab"><a href="#test3">Dislocation</a></li>
                        <li class="tab"><a href="#test4">Fainting</a></li>
                        <li class="tab"><a href="#test5">Fever</a></li>
                        <li class="tab"><a href="#test6">Fracture</a></li>
                        <li class="tab"><a href="#test7">Food Poisoning</a></li>
                        <li class="tab"><a href="#test8">Headache</a></li>
                        <li class="tab"><a href="">Heart Attack</a></li>
                        <li class="tab"><a href="">Heat Stroke</a></li>
                        <li class="tab"><a href="">Snake Bites</a></li>
                        <li class="tab"><a href="">Severe Bleeding</a></li>
                    </ul>
                </div>
                <div class="col s12 m9 firstaid-data" style="margin-left: 297px;">
                        <div id="test1" class="col s12">
                            <h1>Symptoms</h1>
                            <ol>
                                <li>Skin break</li>
                                <li>Bruise / puncture</li>
                                <li>Cuts</li>
                                <li>Bleeding</li>
                                <li>Swelling and redness of the area</li>
                                <li>Oozing of fluid</li>
                            </ol>

                            <h3>First Aid</h3>
                            <ol>
                                <li>Calm the affected person</li>
                                <li>Wash hands before attending to wound</li>
                                <li>Wash wound with soap & running water</li>
                                <li>Apply antibiotic ointment</li>
                                <li>Dress using sterile bandage</li>
                                <li>Consult a Doctor</li>
                            </ol>
                        </div>
                        <div id="test2" class="col s12">
                            <h1>Symptoms</h1>
                            <ol>
                                <li>Irritation / burning</li>
                                <li>Redness of skin</li>
                                <li>Pain / numbness</li>
                                <li>Blisters</li>
                                <li>Coughing</li>
                                <li>Breathlessness</li>
                                <li>Vision loss, if eye is affected</li>
                            </ol>

                            <h3>First Aid</h3>
                            <ol>
                                <li>Remove patient from accident site</li>
                                <li>Wash injury with tepid water liberally</li>
                                <li>Run cool water over burnt area</li>
                                <li>Wounds cleaned and bandaged</li>
                                <li>Consult a specialist</li>
                            </ol>
                        </div>
                    <div id="test3" class="col s12">
                        <h1>Symptoms</h1>
                        <ol>
                            <li>Pain</li>
                            <li>Tenderness</li>
                            <li>Difficulty to move injured part</li>
                            <li>Swelling</li>
                            <li>Discoloration</li>
                        </ol>
                        <h3>First Aid</h3>
                        <ol>
                            <li>Call medical help as soon as possible</li>
                            <li>Do not move the joint or try to place it back</li>
                            <li>Place ice to control swelling</li>
                            <li>If skin is cut, clean gently and bandage with sterile gauze</li>
                            <li>Sling or splint the injury in its original position</li>
                            <li>If injury is serious, check for breathing</li>
                            <li>If not breathing, provide artifical respiration</li>
                            <li>Elevate the feet up to 12 inches</li>
                            <li>Cover the patient with a blanket                                                               Consult a Doctor immediately</li>
                        </ol>
                    </div>
                    <div id="test4" class="col s12">
                        <h1>Symptoms</h1>
                        <ol>
                            <li>Nausea</li>
                            <li>Giddiness</li>
                            <li>Excessive sweating</li>
                            <li>Dim vision</li>
                            <li>Rapid heart beat or palpitations</li>
                        </ol>

                        <h3>First Aid</h3>
                        <ol>
                            <li>Fainting is a medical emergency, till proven otherwise</li>
                            <li>When a person feels faint- Make them sit down or lie down. If sitting, position head between knees</li>
                            <li>When a person faints, position him on his back</li>
                            <li>Check to see if airways are clear</li>
                            <li>Restore blood flow by  Loosening clothing/belts/collars</li>
                            <li>Elevate feet above head level</li>
                            <li>Patient should become normal within a minute</li>
                            <li>Check if breathing/pulse is normal,  If not, provide artifical respiration</li>
                            <li>If not, Consult a Doctor immediately</li>
                        </ol>
                    </div>
                    <div id="test5" class="col s12">
                        <h1>Symptoms</h1>
                        <ol>
                            <li>Hot flushed face</li>
                            <li>Lack of interest in food</li>
                            <li>Symptoms of Fever: Lack of Interest in Food</li>
                            <li>Nausea</li>
                            <li>Vomiting</li>
                            <li>Head and body ache</li>
                            <li>Constipation</li>
                            <li>Diarrhea</li>
                        </ol>

                        <h3>First Aid</h3>
                        <ol>
                            <li>Monitor temperature using a thermometer</li>
                            <li>Remove the excess clothing</li>
                            <li>Keep the person in a cool place</li>
                            <li>Give a sponge bath in luke warm water in case of high fever</li>
                            <li>Give plenty of fluids</li>
                            <li>Do not give aspirin to a person with fever</li>
                            <li>Do not wrap the person in blankets / warm clothing</li>
                            <li>Consult a Doctor in case of - Irregular breathing, Stiff neck, Confusion, Rashes, Persistent sore throat, Vomiting</li>
                        </ol>
                    </div>
                    <div id="test6" class="col s12">
                        <h1>Symptoms</h1>
                        <ol>
                            <li>Severe pain</li>
                            <li>Difficulty in movement</li>
                            <li>Swelling/ bruising / bleeding</li>
                            <li>Deformity / abnormal twist of limb</li>
                            <li>Tenderness on applying pressure</li>
                        </ol>

                        <h3>First Aid</h3>
                        <ol>
                            <li>Control bleeding before treatment</li>
                            <li>Check the breathing</li>
                            <li>Rinse and dress the wound</li>
                            <li>Calm the person</li>
                            <li>Examine for other injuries</li>
                            <li>Immobilize the broken wound</li>
                            <li>Apply ice to reduce pain / swelling</li>
                            <li>Consult a doctor</li>
                        </ol>
                    </div>
                    <div id="test7" class="col s12">
                        <h1>Symptoms</h1>
                        <ol>
                            <li>Nausea</li>
                            <li>Vomiting</li>
                            <li>Diarrhea</li>
                            <li>Fever</li>
                            <li>Headaches</li>
                            <li>Stomach cramps</li>
                            <li>Dehydration</li>
                        </ol>

                        <h3>First Aid</h3>
                        <ol>
                            <li>Make sure that patient drinks lots of water or fluids to keep body hydrated.</li>
                            <li>Provide Lemon Juice as initiating treatment</li>
                            <li>Take a tablespoon of honey with a few drops of ginger juice to reduce inflammation and pain.</li>
                            <li>If vomiting and diarrhea last more than 2 days you need to consult a doctor.</li>
                        </ol>
                    </div>
                    <div id="test8" class="col s12">
                        <h1>Symptoms</h1>
                        <ol>
                            <li>Chest pain</li>
                            <li>Shoulder/arm pain</li>
                            <li>Shortness of breath</li>
                            <li>Sweating</li>
                            <li>Heartburn</li>
                            <li>Nausea</li>
                            <li>Abdominal pain</li>
                        </ol>

                        <h3>First Aid</h3>
                        <ol>
                            <li>Try to relax the patient</li>
                            <li>Loosen tight clothes</li>
                            <li>Take medicines if any</li>
                            <li>Pain subsides within 3 min of medicine intake.If not, see a doctor.</li>
                            <li>Give artifical respiration if required</li>
                            <li>Give Cardiopulmonary Resuscitation (CPR) :</li>
                            <li>a. If no pulse is detected</li>
                            <li>b. By placing palm on chest to pump</li>
                            <li>15 pumps are followed by 2 artificial respiration</li>
                            <li>Continue till ambulance / doctor arrives</li>
                        </ol>
                    </div>
                    </div>
            </div>
        </div>

    </div>

</div>

